* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

.root {
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

#logo {
  width: 21.54px;
  height: 24.3px;
}

#firm-name {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.3px;
  color: #8c30f5;
  margin-bottom: 13px;
  margin-left: 0%;
}

#top-nav div {
  height: 5px;
  width: 35px;
  background-color: black;
  margin: 6px;
}

.pink-layout {
  padding-inline: 16px;
  padding-top: 48px;
  padding-bottom: 80px;
  width: 100%;
  background: #f8f1ff;
  border-radius: 30px;
}
.invincible-container {
  width: 100%;
}
#de-forex-academy {
  height: 38px;
  width: 70%;
  margin-inline: auto;
  border-radius: 30px;
  /* padding: 8px 40px 8px 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(140, 48, 245, 0.1);
  color: #8c30f5;
  font-family: "Inter", sans-serif;
}

#de-forex-academy p {
  padding-inline: 10px;
  padding-top: 2px;
}
#h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  color: black;
  line-height: 48.41px;
  letter-spacing: -2px;
}
#h6 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 8px;
  color: black;
}

#learn-more button {
  height: 54px;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  background-color: rgba(140, 48, 245, 1);
  font-family: "Inter", sans-serif;
  text-align: center;
  color: white;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 32px;
}

#Contact-us p {
  border-bottom: 1px solid black;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#image img {
  max-width: 100%;
}

.slider {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  transform: translateY(-80px);
}

.slider div {
  display: flex;
  width: max-content;
  left: 351px;
  border-radius: 10px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 1);
  /* flex-shrink: 0; */
  align-items: center;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  scroll-snap-type: mandatory;
}
.slider p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: black;
  padding-left: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox */
}

.about {
  align-items: center;
  justify-content: space-between;
  padding-inline: 31px;
  padding-bottom: 210px;
  width: 100%;
}
#group {
  display: flex;
  width: 100%;
}

#group img {
  max-width: 100%;
  height: auto;
}

#text {
  padding-top: 72px;
}

#text h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

#text p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.5px;
  color: black;
}

.our-services {
  background-color: rgba(140, 48, 245, 1);
  padding-bottom: 64px;
}

#service-container {
  align-items: center;
  padding-top: 64px;
  padding-inline: 32px;
}
.service-img {
  width: 100%;
}

.service-img img {
  max-width: 100%;
  height: auto;
}

#roboto {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  color: white;
  padding-top: 24px;
}

#inter {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  color: white;
}

#small-inter {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: white;
}

.mission {
  margin-top: 210px;
  padding-inline: 29px;
}

.mission h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1px;
}

.mission p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: black;
}

.mission h1,
p {
  padding-top: 16px;
}

.three {
  margin-top: 64px;
}

.three div {
  margin-block: 24px;
}

.three h3 {
  font-family: "DM Sans", sans-serif;
}

.three p {
  font-family: "DM Sans", sans-serif;
}

#integrity {
  background-color: rgba(255, 224, 224, 1);
  border-radius: 20px;
  padding: 32px;
}

#excellence {
  background-color: rgba(224, 240, 255, 1);
  border-radius: 20px;
  padding: 32px;
}

#love {
  background-color: rgba(232, 255, 224, 1);
  border-radius: 20px;
  padding: 32px;
}
.testimonial-left {
  padding-left: 34px;
  padding-right: 31px;
  padding-bottom: 40px;
}
.testimonial {
  background-color: rgba(248, 241, 255, 1);
  margin-top: 282px;
}

#quote img {
  height: 120px;
  padding-left: 15px;
  opacity: 0.3;
  padding-top: 32px;
  width: 143px;
}

.testimonial-home {
  transform: translateY(-40px);
  padding-left: 34px;
  padding-right: 31px;
}

/* #testimonial-text {
  margin-left: 34px;
  margin-right: 31px;
} */
#testimonial-text h1 {
  font-family: "Inter", sans-serif;
  width: 340px;
  font-size: 35px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.01em;
  padding-left: 0;
}

#testimonial-text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  margin-bottom: 66px;
}

#img-1 {
  margin-bottom: 10px;
}
#img-2 {
  height: 10px;
}
#first-p {
  font-family: "Inter", sans-serif;
  color: black;
  transform: translateY(-10px);
}

#trio-1 {
  height: 376px;
  left: 34px;
  top: 290px;
  border-radius: 8px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

#trio-2 {
  height: 376px;
  left: 34px;
  top: 290px;
  border-radius: 8px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

#trio-3 {
  height: 376px;
  left: 34px;
  top: 290px;
  border-radius: 8px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 1);
}

.join-us div {
  width: 100%;
  height: auto;
  padding-left: 34px;
  padding-right: 31px;
}

.join-us h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  padding-top: 210px;
  padding-bottom: 43px;
}

.join-us-forms input {
  height: 56px;
  width: 100%;
  left: 0px;
  top: 34px;
  border-radius: 8px;
}

.join-us-forms label,
input {
  display: flex;
  column-gap: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500, 600;
}

.join-us-forms input {
  padding-inline: 20px;
  border: 1px solid rgba(195, 202, 217, 1);
  margin-bottom: 19px;
}

.join-us-forms button {
  display: flex;
  column-gap: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: medium;
  border: 1px solid rgba(195, 202, 217, 1);
  padding-inline: 16%;
  height: 56px;
  width: 50%;
  border-radius: 8px;
  padding-block: 17px;
  background-color: rgba(140, 48, 245, 1);
  /* margin-bottom: 20px; */
}

.team-of-experts {
  margin-top: 210px;
  margin-left: 35px;
  margin-right: 35px;
}

#intro {
  width: 100%;
}
#intro div {
  width: 100%;
}

#intro h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1px;
  padding-top: 0%;
  padding-left: 20px;
}
#experts {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 100px;
}

#experts div {
  align-items: center;
  margin-bottom: 88px;
  display: flex;
  flex-direction: column;
}

#experts h4,
p {
  display: flex;
  padding-top: 16px;
  justify-items: center;
}

#experts p {
  padding-top: 4px;
  padding-left: 25px;
}

footer {
  background-color: rgba(11, 13, 23, 1);
  margin-left: 30px;
  margin-right: 38px;
}

footer div {
  width: 100%;
  margin-inline: 5px;
}

.footer-header {
  display: flex;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer-header img {
  padding: 10px;
  margin-left: 30px;
}
.Quick-links,
.Services,
.Reach-us {
  margin-left: 30px;
  margin-right: 38px;
  margin-top: 20px;
}
.footer-header p {
  color: rgba(52, 109, 205, 1);
  padding: 10px;
  margin-left: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.30000001192092896px;
}

.lorem {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding-left: 40px;
  padding-right: 35px;
}
.fa-youtube,
.fa-chrome,
.fa-twitter,
.fa-instagram,
.fa-envelope,
.fa-envelope,
.fa-location-dot {
  color: pink;
  text-align: center;
  margin-left: 36px;
}

strong {
  font-size: 20px;
  font-weight: 600;
}
footer p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

#copyright {
  background-color: rgba(11, 13, 23, 1);
  color: white;
  margin-left: 30px;
  margin-right: 38px;
  padding-top: 30px;
  margin-bottom: 40px;
  padding-left: 35px;
}

@media screen and (min-width: 480px) {
  .invincible-container {
    display: flex;
  }

  .first-text {
    width: 50%;
    padding-top: 100px;
  }

  #image {
    width: 50%;
  }

  #image img {
    height: 746px;
    padding-top: 30px;
    padding-left: 60px;
  }

  #de-forex-academy {
    margin-top: 80px;
    margin-bottom: 48px;
    width: 227px;
    margin-left: 64px;
  }

  #h1 {
    padding-left: 64px;
    padding-top: 0 !important;
  }
  #h1 p {
    font-size: 65px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: -2px;
    text-align: left;
    margin-top: 0;
  }
  #h6 {
    padding-left: 64px;
    padding-right: 120px;
    margin-top: 0;
  }
  #h6 p {
    width: 544px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 0;
  }

  .buttons {
    display: flex;
  }
  #Contact-us {
    margin-right: 230px;
  }

  .slider div {
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .about-container {
    display: flex;
  }

  #group img {
    padding-left: 70px;
  }

  #text {
    padding-left: 72px;
    padding-top: 20px !important;
  }

  #text p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: left;
    padding-right: 173px;
  }

  #service-container {
    display: flex;
  }

  .service-img {
    display: flex;
    justify-content: end;
  }

  .fonts p {
    padding-left: 73px;
    padding-right: 213px;
  }
  #small-inter {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .mission {
    margin-inline: 166px;
  }

  #mission-statement p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  .three {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .three p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .testimonial {
    padding-bottom: 95px;
  }

  .testimonial-left {
    display: flex;
    margin-right: 290px;
  }

  #testimonial-text {
    margin-left: 70px;
  }

  #trio-1 {
    margin-left: 165px;
  }
  .join-us-forms div {
    display: inline-block;
    width: 360px;
  }

  form #submit {
    width: 50%;
    margin-inline: 35%;
  }

  #intro {
    text-align: center;
  }

  #experts {
    margin-left: 100px;
    margin-right: 30px;
  }

  #experts div {
    display: inline-block;
    width: 220px;
  }
  footer {
    display: flex;
  }
}
